### Redis ###
REDIS_PORT=6379
REDIS_USERNAME=challenge
REDIS_PASSWORD=W1ctealEXU70cGm9

### localStack ###
LOCALSTACK_AUTH_TOKEN=secret-token
LOCALSTACK_DEBUG=0

### Mongo ###
MONGODB_ROOT_USERNAME=challengeroot
MONGODB_ROOT_PASSWORD=57pjnNZqxNwr4e2B

MONGODB_PORT=27017
MONGODB_DATABASE_USERNAME=challenge
MONGODB_DATABASE_PASSWORD=b32WUFocWBB0hpIf
MONGODB_DATABASE=payments-database