### AWS ###
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

### SQS ###
AWS_SQS_ENDPOINT=http://localhost:4566

### API ###
PAYMENT_API_PROTOCOL=http
PAYMENT_API_ADDRESS=localhost
PAYMENT_API_PORT=4001

### Swagger ###
PAYMENT_DOCS_ENABLED="1"
PAYMENT_DOCS_OPERATOR="challenge"
PAYMENT_DOCS_PASSWORD="challenge"

### Mongo ###
MONGODB_ROOT_USERNAME=challengeroot
MONGODB_ROOT_PASSWORD=57pjnNZqxNwr4e2B

PAYMENT_MONGODB_HOST=localhost
PAYMENT_MONGODB_PORT=27017
PAYMENT_MONGODB_USERNAME=challenge
PAYMENT_MONGODB_PASSWORD=b32WUFocWBB0hpIf
PAYMENT_MONGODB_DATABASE=payments-database