### Server ###
ORDERS_SERVER_PORT=4000

### Database ###
ORDERS_DATASOURCE_USERNAME=orders
ORDERS_DATASOURCE_PASSWORD=aNvXaW3mNM7EQAL2
ORDERS_DATASOURCE_DATABASE=orders-database
ORDERS_DATASOURCE_DRIVER=org.postgresql.Driver
ORDERS_DATASOURCE_URL="jdbc:postgresql://localhost:5832/${ORDERS_DATASOURCE_DATABASE}"

### Security & Tokens ###
ORDERS_JWT_SECRET=0qo1975rwIPQByugTn22xc0xnFFOrRwFQ9ZRjj-Hsdo9NlwqELkOfbr2XFum4A66I7tva0qGrazwb7KrpHCf0g
ORDERS_JWT_SECRET_EXPIRATION_TIME=30m

### Cache ###
DEFAULT_CACHE_TTL=30m

### Redis ###
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=challenge
REDIS_PASSWORD=W1ctealEXU70cGm9

### Clients - PaymentProcessor ###
PAYMENT_PROCESSOR_URL=http://localhost:4001

### AWS ###
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

### SQS ###
AWS_SQS_ENDPOINT=http://localhost:4566